/* estiloMedico.css */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fcd1c6; /* Fondo de la página */
    padding: 20px;
}

.register-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* Ajusta el ancho según sea necesario */
}

.form-card {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875rem;
}

.terms-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.terms-checkbox input {
    margin-right: 10px;
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #505a62;
    border-color: #505a62;
}

.alert {
    margin-bottom: 20px;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.text-center {
    text-align: center !important;
}
