/* Estilos para el ítem activo */
.navbar-nav .nav-link.active {
    background-color: #cce5ff; /* Fondo azul más claro */
    color: #000; /* Texto negro */
  }
  
  /* Estilos para los ítems inactivos */
  .navbar-nav .nav-link:not(.active) {
    background-color: #007bff; /* Fondo azul */
    color: #fff; /* Texto blanco */
  }
  
  /* styles.css */
.list-group-item.active {
  background-color: #007bff; /* Fondo azul para el ítem seleccionado */
  color: #fff; /* Texto en color blanco para el ítem seleccionado */
}