.register-container{
    /*background-image: linear-gradient(to right, rgba(0, 128, 128, 1) 30%, rgba(0, 0, 0, 0.7) 70%), url('../../../assets/medico.jpg');*/
    background-image: linear-gradient(to right, rgba(0, 128, 128, 1) 30%, rgba(0, 0, 0, 0.7) 90%);
    margin-bottom: 60px;
}