/* Estilos para el ítem activo */
.navbar-nav .nav-link.active {
    background-color: #cce5ff; /* Fondo azul más claro */
    color: #000; /* Texto negro */
  }
  
  /* Estilos para los ítems inactivos */
  .navbar-nav .nav-link:not(.active) {
    background-color: #007bff; /* Fondo azul */
    color: #fff; /* Texto blanco */
  }
  
  /* styles.css */
.list-group-item.active {
  background-color: #007bff; /* Fondo azul para el ítem seleccionado */
  color: #fff; /* Texto en color blanco para el ítem seleccionado */
}

.navbar {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-right: 10px;
}/* Frame 1 */

.home{
  position: relative;
  width: 249px;
  height: 400px;
  
  background: #FFFFFF;
}



/* Rectangle 1 */
.rectangulo1{
  position: absolute;
  width: 249px;
  height: 42px;
  left: 0px;
  top: 0px;
  
  background: #072FFE;
  
}



/* acerca de nosotros */
.acerca{
  position: absolute;
  width: 51px;
  height: 39px;
  left: 73px;
  top: 0px;
  
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;
}



/* login */
.login{
  position: absolute;
  width: 33px;
  height: 12px;
  left: calc(50% - 33px/2 + 64px);
  top: calc(50% - 12px/2 - 182px);
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  
  color: #FFFFFF;
  
  
}



/* home */

.home{
  position: absolute;
  width: 41px;
  height: 18px;
  left: 3px;
  top: 15px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  
  color: #FFFFFF;
}



/* Rectangle 2 */
.rectangulo2{
  position: absolute;
  width: 111px;
  height: 147px;
  left: 0px;
  top: 53px;
  
  background: #072FFE;
  
}


/* DERMI-SOLUTION */
.dermi{
  position: absolute;
  width: 111px;
  height: 49px;
  left: 0px;
  top: 72px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  
  color: #000000;
    
}


/* Rectangle 3 */

.rectangulo3{
  position: absolute;
  width: 137px;
  height: 147px;
  left: 112px;
  top: 53px;
  
  background: #072FFE;
  
}


/* es una solucion que trata de mejorar la vida de los pacientes que sufren enfermedadades relacionadas con la piel */
.textodermi{
  position: absolute;
  width: 129px;
  height: 44px;
  left: 113px;
  top: 61px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  
  color: #000000;
}




/* Rectangle 4 */
.footer{
  position: absolute;
  

  
  position: absolute;
  width: 242px;
  height: 49px;
  left: 0px;
  top: 326px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  
  color: #FFFFFF;
  
  
}

.global{
  background: #072FFE;
}