/* AdminRoute.css */
.admin-route-container {
    display: flex;
    flex-direction: column;
}
  
.main-content {
  flex-grow: 1;

  background-image: linear-gradient(to right, rgba(0, 128, 128, 1) 30%, rgba(0, 0, 0, 0.7) 90%);
  box-shadow: none;
}
  
footer {
  margin-top: auto;
  background-color: var(--background-color);
  text-align: center;
}
  