/* Header.css */
.nav-link {
    background-color: transparent !important;
    color: inherit; /* Para mantener el color original del texto */
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

.navbar-brand {
    font-weight: bold;
    color: #4CAF50 !important;
}
.nav-link {
    color: #343a40 !important;
}
.nav-link:hover {
    color: #4CAF50 !important;
}