.footer{
    background: #07D2FE;
    top:100%;
    height:50px
}
.p{
    margin-left:"40%"; 
    margin-top:"60px"
}

.navBar{
    background: #07D2FE;
    width:100%
}

.sidebar{
    display: 1;
    height:100vh;
    background: #07D2FE
}