/* styles.css */
:root {
    --sidebar-bg-color: #007bff; /* Fondo azul del sidebar */
    --sidebar-active-bg-color: #228B22; /* Fondo más claro para ítem seleccionado */
    --sidebar-text-color: #fff; /* Color del texto en el sidebar */
  }
  
  .sidebar-container {
    height: 100%; /* Hace que el Sidebar ocupe toda la altura disponible */
  }
  
  .sidebar {
    background-color: var(--sidebar-bg-color); /* Fondo azul del Sidebar */
  }
  
  .list-group-item {
    background-color: var(--sidebar-bg-color);
    border: none;
  }
  
  .list-group-item.active {
    background-color: var(--sidebar-active-bg-color);
    color: var(--sidebar-text-color);
  }
  
  .nav-link {
    color: var(--sidebar-text-color);
  }
  
  .nav-link:hover {
    color: var(--sidebar-text-color);
  }
  